img{

    text-align: center;
    background-color: wheat;
    padding: 15px;
    
}

h1{
    color: black;
    font-family: initial;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding: 10px;
}

h2{
    color: chocolate;
    padding: 10px;
    padding: 10px;
}


h3{
    
    color: palevioletred;
    padding: 10px;
}


li{

 padding: 10px;
}
div{
    background-color: lavenderblush;
    padding: 10px;
}



 